@charset "UTF-8";
/* line 43, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 48, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
::-webkit-scrollbar {
  width: 0;
}

/* line 51, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* line 55, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
body {
  color: #1B1C57;
  font-size: 1.6rem;
  font-family: "Lexend", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-bottom: 12rem;
}

/* line 63, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
img {
  height: auto;
  display: block;
}

/* line 67, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
h1, h2, h3, h4 {
  margin: 0;
}

/* line 70, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
a {
  color: #F0F3FD;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration: none;
  transition: .3s;
}

/* line 78, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
a,
button {
  cursor: pointer;
}

/* line 82, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-transform: none;
}

/* line 87, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
ul, ol {
  list-style: none;
}

/* line 90, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 94, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.background-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 144rem;
}

/* line 99, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.background-wrapper::before {
  position: absolute;
  content: "";
  top: -230px;
  left: -140px;
  background-image: url(../img/background-1.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 800px;
  width: 800px;
  height: 800px;
  z-index: -1;
}

/* line 112, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.radius {
  border-radius: 32px;
}

/* line 115, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.btn-transparent {
  display: inline-block;
  padding: 7.5px 16.5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 121, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.btn-light_green {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  border: none;
  color: #047857;
  background-color: #D1FAE5;
  padding: 12px 24.5px;
}

/* line 130, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.btn-dark_green {
  display: flex;
  align-items: center;
  border: none;
  padding: 13px 21.5px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #10B981;
  text-transform: capitalize;
}

/* line 141, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.list {
  display: flex;
}

/* line 144, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.list::after {
  content: "";
  background: url(../icon/arrow.svg) center/cover no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 1rem;
}

/* line 151, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* line 163, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.title {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: capitalize;
}

/* line 171, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-header {
  padding-top: 4rem;
}

/* line 174, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 1200px;
  margin-bottom: 9.6rem;
}

/* line 180, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-nav__logo {
  margin-right: auto;
}

/* line 183, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29%;
  margin-right: 4%;
}

/* line 190, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.search {
  color: #888B97;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/* line 196, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.search input:focus {
  outline: none;
}

/* line 199, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.search label {
  position: absolute;
  clip: rect(0 0 0 0);
}

/* line 203, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.icon-location {
  color: #F59E0B;
}

/* line 206, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero {
  margin-bottom: 21rem;
}

/* line 209, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__right {
  position: relative;
  border-radius: 0px 0px 0px 80px;
}

/* line 213, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__right_img {
  position: absolute;
  bottom: -91px;
  right: -117px;
  z-index: -1;
}

/* line 219, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__title {
  width: 30%;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  text-transform: capitalize;
  text-shadow: -1px 0 #1B1C57, 0 1px #1B1C57, 1px 0 #1B1C57, 0 -1px #1B1C57;
  margin-bottom: 2.4rem;
}

/* line 228, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__title span {
  color: #ffffff;
}

/* line 231, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__info {
  width: 39%;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 3.2rem;
}

/* line 237, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__search {
  position: relative;
  margin-bottom: 3.2rem;
}

/* line 241, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__search i {
  display: block;
  position: absolute;
  top: 16px;
  left: 25px;
  font-size: 2.2rem;
}

/* line 248, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__search input {
  width: 41.35%;
  padding: 16.2px 65px;
  border: 1px solid #E0E3EB;
}

/* line 253, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__button {
  position: absolute;
  top: 4px;
  left: 382px;
}

/* line 258, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__button::after {
  content: "";
  background: url(../icon/arrow_slider.svg) center/cover no-repeat;
  width: 7px;
  height: 14px;
  transform: rotate(180deg);
  margin-left: 1.1rem;
}

/* line 266, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__partnership {
  display: flex;
  justify-content: space-between;
  width: 36%;
}

/* line 270, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__partnership-info {
  color: #888B97;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-transform: capitalize;
}

/* line 276, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 54rem;
  height: 11.4rem;
  right: 3px;
  top: -60px;
}

/* line 284, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes_big {
  display: flex;
  align-items: center;
  padding: 2.9rem 2.6rem;
  background-color: #ffffff;
}

/* line 289, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes_small {
  display: flex;
  align-items: center;
  padding: 2.9rem 2.4rem;
  background-color: #ffffff;
}

/* line 294, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes_small img {
  margin-right: 1.6rem;
}

/* line 297, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes p {
  color: #1B1C57;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 2px;
}

/* line 305, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hero__boxes span {
  color: #626687;
  font-size: 12px;
  line-height: 2rem;
  text-transform: capitalize;
}

/* line 311, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.people {
  display: flex;
  width: 11.2rem;
  margin-right: 1.6rem;
}

/* line 316, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.people li img {
  border-radius: 50%;
  outline: 3px solid #ffffff;
  outline-offset: -3px;
}

/* line 321, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.people li:nth-child(2) {
  transform: translateX(-27px);
}

/* line 324, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.people li:nth-child(3) {
  transform: translateX(-53px);
}

/* line 331, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.section__container {
  margin-left: 4rem;
  position: relative;
}

/* line 335, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.section__pretitle {
  color: #F59E0B;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: capitalize;
  position: relative;
  margin: 0 0 1.2rem 4rem;
}

/* line 344, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.section__pretitle::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 1px;
  top: 8px;
  left: -40px;
  background-color: #F59E0B;
}

/* line 353, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features {
  margin-bottom: 12rem;
}

/* line 356, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__subtitle, .features__info {
  font-weight: 500;
  line-height: 3.2rem;
}

/* line 361, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__subtitle {
  font-size: 2.4rem;
  margin-bottom: .8rem;
}

/* line 365, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__price {
  font-size: 2rem;
  color: #3C4563;
  margin-bottom: 2.4rem;
}

/* line 370, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 4rem;
}

/* line 375, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__navigation {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

/* line 379, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features__item {
  user-select: none;
}

/* line 382, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-container {
  position: relative;
  width: 100%;
  height: 555px;
  margin: 0 auto;
}

/* line 388, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

/* line 393, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-slide {
  width: 350px;
  min-width: 350px;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
  user-select: none;
}

/* line 403, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-slide .swiper-img {
  border-radius: 24px;
  margin-bottom: 2.4rem;
}

/* line 407, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev,
.features .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -70px;
  left: auto;
  width: 6rem;
  height: 5.2rem;
  border: none;
  box-sizing: border-box;
  background-color: #10B981;
  cursor: pointer;
  z-index: 1;
}

/* line 422, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev svg,
.features .swiper-button-next svg {
  fill: #ffffff;
}

/* line 425, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev:hover,
.features .swiper-button-next:hover {
  opacity: 0.7;
}

/* line 427, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev:active,
.features .swiper-button-next:active {
  opacity: 0.5;
}

/* line 430, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-next {
  right: 2px;
  transform: rotate(180deg);
}

/* line 434, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev {
  right: 85px;
}

/* line 437, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-prev::after,
.features .swiper-button-next::after {
  display: none !important;
}

/* line 441, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-disabled {
  opacity: 1 !important;
  background-color: #E0E3EB !important;
}

/* line 445, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.features .swiper-button-disabled svg {
  fill: #3C4563;
}

/* line 448, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.block-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888B97;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  border: 1px solid #E0E3EB;
  padding: 11px 25px;
  transition: all .3s;
}

/* line 458, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.block-button i {
  margin-right: 11px;
  color: #888B97;
}

/* line 462, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.block-button:hover {
  border: 1px solid transparent;
  background-color: #D1FAE5;
  color: #10B981;
}

/* line 467, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.block-button:hover i {
  color: #10B981;
}

/* line 470, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.img__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 335px;
  margin-left: 16px;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: capitalize;
}

/* line 481, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.img__button i {
  margin-right: 12px;
}

/* line 484, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.img__button_popular {
  width: 11.2rem;
  color: #EF4444;
  background-color: #FEE2E2;
}

/* line 489, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.img__button_new {
  width: 13.5rem;
  color: #1D4ED8;
  background-color: #DBEAFE;
}

/* line 494, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.img__button_best {
  width: 13rem;
  color: #047857;
  background-color: #D1FAE5;
}

/* line 499, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info {
  color: #0E1735;
  text-transform: capitalize;
  text-align: left;
}

/* line 504, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info_people {
  display: flex;
  align-items: center;
}

/* line 507, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info_people img {
  margin: 0 1.6rem 0 0;
}

/* line 510, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info_contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 500;
}

/* line 516, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info_contacts p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: .4rem;
}

/* line 521, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.slide__info_contacts span {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #888B97;
  text-transform: capitalize;
}

/* line 529, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour .section__container {
  max-width: 600px;
}

/* line 532, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour {
  position: relative;
  margin-bottom: 15.3rem;
}

/* line 536, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour::before {
  position: absolute;
  content: "";
  top: -300px;
  right: -330px;
  background-image: url(../img/background-2.png);
  background-repeat: no-repeat;
  background-size: 700px;
  width: 700px;
  height: 700px;
  z-index: -1;
}

/* line 548, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__title {
  margin-bottom: 1.6rem;
}

/* line 551, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__info, .tour__house {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

/* line 557, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__info {
  width: 69%;
  opacity: 0.75;
  color: #626687;
}

/* line 562, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__house {
  color: #1B1C57;
  font-weight: 600;
  text-transform: capitalize;
}

/* line 567, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__button {
  padding: 12px 16.5px;
}

/* line 570, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__button i {
  font-size: 2.4rem;
  margin-right: 1.6rem;
}

/* line 574, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__details {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 7.7rem;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-bottom: 6.5rem;
}

/* line 583, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__details_item {
  display: flex;
  align-items: center;
}

/* line 586, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__details i {
  font-size: 3.2rem;
  color: #888B97;
  margin-right: 1.8rem;
}

/* line 591, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__details p {
  color: #3C4563;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: capitalize;
}

/* line 598, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__details::before {
  position: absolute;
  content: "";
  bottom: -35px;
  width: 440px;
  height: 2px;
  background-color: #F0F3FD;
}

/* line 606, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__left .slide__info_people img {
  margin-right: 2.4rem;
}

/* line 609, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__left .slide__info_people span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 614, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__contacts {
  display: flex;
  align-items: center;
}

/* line 618, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.house__contacts .slide__info_people {
  margin-right: 5.7rem;
}

/* line 621, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__right {
  position: absolute;
  top: -35px;
  right: 0;
}

/* line 626, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__right-list {
  display: flex;
  align-items: flex-end;
  z-index: 1;
  position: absolute;
  bottom: -43px;
  left: -40px;
}

/* line 634, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__right-item img {
  border-radius: 4px;
}

/* line 637, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__right-item:nth-child(1) {
  margin-right: 1.2rem;
}

/* line 640, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.tour__right-item:nth-child(2) {
  margin-right: .8rem;
}

/* line 645, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.pretitle-center {
  text-align: center;
  margin: 0 auto 1.2rem;
}

/* line 649, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.pretitle-center::before {
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 654, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews {
  margin-bottom: 27.3rem;
}

/* line 657, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__title {
  text-align: center;
  margin-bottom: 4rem;
}

/* line 661, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__info {
  width: 82.75%;
  height: 62.3%;
  background-color: #ffffff;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  position: absolute;
  z-index: 1;
  top: 255px;
  padding: 3.3rem;
  text-align: left;
}

/* line 673, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__info .slide__info_people img {
  width: 40px !important;
  height: 40px !important;
  margin-right: 2.4rem;
}

/* line 678, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__info .slide__info_contacts p {
  color: #0E1735;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/* line 683, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}

/* line 690, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0.75;
  color: #626687;
  margin-bottom: 2.4rem;
}

/* line 697, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
}

/* line 702, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 705, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__rate i {
  color: #F59E0B;
  margin-right: 1.6rem;
}

/* line 709, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews__rate p {
  color: #3C4563;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
}

/* line 715, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* line 720, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

/* line 725, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74rem;
  min-width: 74rem;
  height: 40rem;
  text-align: center;
  font-size: 1.8rem;
  background: #ffffff;
  user-select: none;
  position: relative;
}

/* line 737, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-slide img {
  display: block;
  width: auto !important;
  height: auto !important;
  object-fit: cover;
  border-radius: 8px;
}

/* line 744, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-pagination {
  bottom: -150px !important;
}

/* line 747, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-pagination-bullet {
  background: #E0E3EB !important;
  opacity: 1 !important;
  margin: 0 8px !important;
}

/* line 752, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.reviews .swiper-pagination-bullet-active {
  background: #3C4563 !important;
}

/* line 757, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find {
  margin-bottom: 12rem;
  position: relative;
}

/* line 761, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* line 765, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find::before {
  position: absolute;
  content: "";
  top: -120px;
  left: -360px;
  background-image: url(../img/background-3.png);
  background-repeat: no-repeat;
  background-size: 700px;
  width: 700px;
  height: 850px;
  z-index: -1;
}

/* line 777, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__title {
  text-align: center;
  margin: 0 auto 2.4rem;
  width: 36%;
}

/* line 782, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__button {
  padding: 12px 16.5px;
  margin: 0 auto 4rem;
}

/* line 786, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__left, .find__right {
  width: 50%;
}

/* line 790, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 6.8rem;
}

/* line 795, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__img {
  border-radius: 16px;
}

/* line 798, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__img:not(:last-child) {
  margin-right: 3.2rem;
}

/* line 801, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__img_right {
  margin-bottom: 2.4rem;
}

/* line 804, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 807, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer:not(:last-child) {
  margin-bottom: 4rem;
}

/* line 810, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.3rem;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}

/* line 817, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 1.6rem;
}

/* line 824, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_time {
  display: flex;
  align-items: center;
}

/* line 827, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_time p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #888B97;
}

/* line 832, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_info .slide__info_people {
  margin-bottom: 1.2rem;
}

/* line 835, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__subcontainer_info .slide__info_people p {
  color: #3C4563;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/* line 841, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.find__right .find__subcontainer_title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

/* line 845, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.icon-clock {
  color: #888B97;
  margin-right: 1.4rem;
}

/* line 851, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.icon-email {
  color: #3B82F6;
}

/* line 854, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages .subscrbe__img:nth-child(1) {
  margin-bottom: 5.4rem;
}

/* line 857, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages:nth-child(2) .subscrbe__img:nth-child(1) {
  margin-bottom: 7.1rem;
}

/* line 860, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__right .subscribe__imgages:nth-child(1) .subscrbe__img:nth-child(1) {
  margin-bottom: 6.1rem;
}

/* line 863, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__right .subscribe__imgages:nth-child(2) {
  margin-top: 6rem;
}

/* line 866, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__right .subscribe__imgages:nth-child(2) .subscrbe__img:nth-child(1) {
  margin-bottom: 5.6rem;
}

/* line 869, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages:nth-child(1) {
  margin-right: 7.9rem;
}

/* line 872, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages:nth-child(2) {
  margin-top: 3rem;
}

/* line 875, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 31.2rem;
  padding: 3.8rem 7rem 6.5rem 4.4rem;
  background: url(../img/subscribe.jpg) center/cover no-repeat;
  margin-bottom: 120px;
}

/* line 883, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__left, .subscribe__right {
  display: flex;
}

/* line 887, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__left {
  margin-right: 10.3rem;
}

/* line 890, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__center {
  margin-top: auto;
  margin-right: 8.2rem;
}

/* line 894, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 898, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__imgages img {
  border-radius: 24px;
  outline: 2px solid #ffffff;
  outline-offset: 0px;
}

/* line 903, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__title {
  line-height: 4.8rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

/* line 908, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__search {
  position: relative;
}

/* line 911, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__search i {
  display: block;
  position: absolute;
  top: 16px;
  left: 25px;
  width: 18px;
  font-size: 2.2rem;
  z-index: 1;
}

/* line 920, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__search input {
  position: relative;
  width: 49.6rem;
  padding: 1.6rem 6.5rem;
  border: none;
}

/* line 926, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.subscribe__button {
  position: absolute;
  top: 4px;
  left: 363px;
  padding: 12px 16.1px;
}

/* line 934, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47%;
}

/* line 938, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.social__icon {
  font-size: 2rem;
  color: #3C4563;
}

/* line 942, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.social__link {
  padding: 1rem;
}

/* line 945, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.property,
.article,
.contact {
  text-transform: capitalize;
}

/* line 950, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.property__title,
.article__title,
.contact__title {
  color: #0E1735;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

/* line 956, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.property__link,
.article__link,
.contact__link {
  color: #888B97;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 962, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.contact .contact__item:nth-child(4) .contact__link {
  text-transform: none;
}

/* line 965, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer {
  display: flex;
  position: relative;
}

/* line 969, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer::before {
  position: absolute;
  content: "";
  right: -290px;
  bottom: -140px;
  background-image: url(../img/background-4.png);
  background-repeat: no-repeat;
  background-size: 950px;
  width: 950px;
  height: 503px;
  z-index: -1;
}

/* line 981, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__left, .main-footer__right {
  display: flex;
}

/* line 985, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__left {
  width: 26.5%;
  flex-direction: column;
  margin-right: auto;
}

/* line 990, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__right {
  width: 51%;
  justify-content: space-between;
}

/* line 994, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__right_title {
  margin-bottom: 2.4rem;
}

/* line 997, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__right_link {
  margin-bottom: 1.8rem;
}

/* line 1000, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__logo {
  margin-bottom: 1.6rem;
}

/* line 1003, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.main-footer__info {
  color: #626687;
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0.75;
  margin-bottom: 2.4rem;
}

/* line 1010, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
.hamburger,
.mobile-menu {
  display: none;
}

@media (max-width: 1400px) {
  /* line 1018, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .background-wrapper {
    width: 90vw;
  }
  /* line 1021, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .container {
    width: 1170px;
  }
  /* line 1025, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__right_img {
    bottom: -91px;
    right: -145px;
  }
  /* line 1029, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__title {
    width: 40%;
  }
  /* line 1032, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__button {
    left: 370px;
  }
  /* line 1035, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes {
    right: -25px;
  }
  /* line 1038, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__title {
    width: 37%;
  }
}

@media (max-width: 1199px) {
  /* line 1043, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .container {
    width: 960px;
  }
  /* line 1046, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  html {
    font-size: 62%;
  }
  /* line 1049, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__right_img {
    display: none;
  }
  /* line 1052, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-nav {
    width: 100%;
  }
  /* line 1055, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .navigation {
    width: 55%;
    margin-right: 6%;
  }
  /* line 1059, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  a {
    color: #ffffff;
  }
  /* line 1062, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .btn-transparent {
    background-color: #10B981;
    border: 1px solid #10B981;
  }
  /* line 1067, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__left, .hero__title, .hero__info, .hero__partnership {
    width: 100%;
  }
  /* line 1073, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__partnership {
    justify-content: space-around;
  }
  /* line 1076, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__title {
    text-align: center;
  }
  /* line 1079, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__button {
    left: 848px;
  }
  /* line 1082, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__search input {
    width: 100%;
  }
  /* line 1085, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes_big, .hero__boxes_small {
    border: 1px solid #10B981;
  }
  /* line 1089, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes {
    left: 222px;
    top: 30px;
  }
  /* line 1093, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__info,
  .hero__partnership-info,
  .tour__info,
  .reviews__text,
  .find__subcontainer_text {
    opacity: 1;
  }
  /* line 1100, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .section__container {
    margin-left: unset;
  }
  /* line 1103, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features {
    margin-bottom: 7rem;
  }
  /* line 1106, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__title {
    margin-bottom: 2rem;
  }
  /* line 1109, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__block {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
  /* line 1114, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__navigation {
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  /* line 1119, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-button-prev,
  .features .swiper-button-next {
    right: 60px;
  }
  /* line 1123, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-button-prev {
    top: -180px;
  }
  /* line 1126, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-button-next {
    top: -90px;
  }
  /* line 1129, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-wrapper {
    margin-left: 200px;
  }
  /* line 1132, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour {
    margin-bottom: 7rem;
  }
  /* line 1135, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour::before {
    right: -440px;
    top: -50px;
  }
  /* line 1139, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__right {
    top: 22px;
    right: 64px;
  }
  /* line 1143, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__right_img {
    width: 300px;
  }
  /* line 1146, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__right-list {
    bottom: -120px;
    left: -120px;
  }
  /* line 1150, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews {
    margin-bottom: 23.3rem;
  }
  /* line 1153, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find,
  .subscribe,
  .main-footer {
    width: 100%;
  }
  /* line 1158, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find {
    margin-bottom: 7rem;
  }
  /* line 1161, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__title {
    width: 100%;
  }
  /* line 1164, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__left {
    flex-direction: row;
    margin-bottom: 5rem;
  }
  /* line 1168, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 1174, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer {
    flex-wrap: wrap;
  }
  /* line 1177, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer_title {
    width: 90%;
  }
  /* line 1180, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img {
    margin-bottom: 3rem;
  }
  /* line 1183, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img_right {
    width: 26rem;
    height: 14rem;
    margin-bottom: unset;
    margin-right: 2rem;
  }
  /* line 1189, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img:not(:last-child) {
    margin-right: 12rem;
  }
  /* line 1192, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer:not(:last-child) {
    margin-bottom: unset;
  }
  /* line 1196, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__left, .subscribe__right {
    display: none;
  }
  /* line 1200, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__center {
    width: 100%;
    margin-right: unset;
  }
  /* line 1204, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__search input {
    width: 100%;
  }
  /* line 1207, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__button {
    left: 716px;
  }
  /* line 1210, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-footer__right {
    width: 71%;
  }
}

@media (max-width: 991px) {
  /* line 1215, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .container {
    width: 720px;
  }
  /* line 1218, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  html {
    font-size: 61%;
  }
  /* line 1222, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__button {
    left: 607px;
  }
  /* line 1225, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes {
    left: 100px;
  }
  /* line 1229, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__navigation {
    width: 100%;
  }
  /* line 1232, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-button-prev,
  .features .swiper-button-next {
    right: 20px;
  }
  /* line 1236, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__right {
    display: none;
  }
  /* line 1239, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img {
    margin-right: unset;
  }
  /* line 1242, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img:not(:last-child) {
    margin-right: 6rem;
  }
  /* line 1245, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__button {
    left: 478px;
  }
}

@media (max-width: 767px) {
  /* line 1250, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .container {
    width: 540px;
  }
  /* line 1253, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  html {
    font-size: 60%;
  }
  /* line 1256, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-nav {
    width: 80%;
  }
  /* line 1259, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .btn-light_green {
    border: 1px solid #047857;
  }
  /* line 1262, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .navigation {
    display: none;
  }
  /* line 1265, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    height: 200vh;
    background: rgba(4, 120, 87, 0.9);
    z-index: 10;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  /* line 1275, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .mobile-menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /* line 1284, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .mobile-menu a {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
  }
  /* line 1289, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .mobile-menu_active {
    left: 0px;
    width: 30%;
  }
  /* line 1293, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger {
    position: fixed !important;
    top: 55px;
    left: 650px;
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
  }
  /* line 1304, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger span {
    height: 2px;
    width: 100%;
    background: black;
    transition: 1s all;
    display: block;
  }
  /* line 1311, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger_active {
    height: 4px;
    position: fixed !important;
  }
  /* line 1316, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  /* line 1318, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 1320, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 1324, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__button {
    left: 429px;
  }
  /* line 1327, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes {
    left: 5px;
  }
  /* line 1330, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-wrapper {
    margin-left: 330px;
  }
  /* line 1333, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews {
    margin-bottom: 42rem;
  }
  /* line 1336, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews .swiper-slide {
    height: 15rem;
  }
  /* line 1339, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews .swiper-slide img {
    width: 300px !important;
  }
  /* line 1342, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews .slide__info_people img {
    width: 40px !important;
  }
  /* line 1345, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews .swiper-pagination {
    bottom: -355px !important;
  }
  /* line 1348, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .reviews__info {
    width: 50%;
    height: 210%;
    top: 150px;
  }
  /* line 1353, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find {
    margin-bottom: 5rem;
  }
  /* line 1356, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__left {
    width: 60%;
    flex-wrap: wrap;
    margin-right: unset;
  }
  /* line 1361, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer {
    justify-content: center;
  }
  /* line 1364, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer:not(:last-child) {
    margin-bottom: 3rem;
  }
  /* line 1367, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer_title {
    width: 100%;
  }
  /* line 1370, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img {
    width: 300px;
  }
  /* line 1373, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img:not(:last-child) {
    margin-right: unset;
  }
  /* line 1376, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__right {
    flex-direction: column;
  }
  /* line 1379, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img_right {
    width: 300px;
    margin-right: unset;
    margin-bottom: 3rem;
  }
  /* line 1384, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__right .find__subcontainer_info {
    width: 60%;
  }
  /* line 1387, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe {
    margin-bottom: 5rem;
  }
  /* line 1390, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__button {
    left: 302px;
  }
  /* line 1393, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 1397, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-footer__left, .main-footer__right {
    width: 90%;
  }
  /* line 1401, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-footer__left {
    margin-bottom: 3rem;
  }
  /* line 1404, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .social {
    width: 90%;
    justify-content: space-around;
  }
}

@media (max-width: 575px) {
  /* line 1410, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .background-wrapper {
    width: 80vw;
  }
  /* line 1413, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .container {
    width: 100%;
  }
  /* line 1416, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  html {
    font-size: 59%;
  }
  /* line 1419, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-header {
    padding-top: 7rem;
  }
  /* line 1422, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hamburger {
    top: 20px;
    left: 240px;
  }
  /* line 1426, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .main-nav {
    width: 100%;
    margin-bottom: 3rem;
  }
  /* line 1431, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__search input {
    width: 240px;
  }
  /* line 1434, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__button {
    left: 130px;
  }
  /* line 1437, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__partnership {
    height: 180px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* line 1442, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes {
    flex-direction: column;
    top: 0;
  }
  /* line 1446, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes_big, .hero__boxes_small {
    border: none;
    padding: unset;
  }
  /* line 1451, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .hero__boxes_big {
    margin-bottom: 3rem;
  }
  /* line 1454, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  form input::placeholder {
    color: transparent;
  }
  /* line 1457, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features {
    margin-bottom: 5rem;
  }
  /* line 1460, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__navigation {
    flex-direction: column;
  }
  /* line 1463, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__item {
    width: 200px;
  }
  /* line 1466, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features__item:not(:last-child) {
    margin-bottom: 3rem;
  }
  /* line 1469, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-img {
    width: 200px;
  }
  /* line 1472, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-slide {
    margin-right: -120px !important;
  }
  /* line 1475, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-wrapper {
    margin-left: 0px;
  }
  /* line 1478, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-button-prev,
  .features .swiper-button-next {
    right: 0;
    left: 220px;
  }
  /* line 1483, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .swiper-container {
    height: 400px;
  }
  /* line 1486, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .features .img__button {
    top: 165px;
  }
  /* line 1489, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__info {
    width: 100%;
  }
  /* line 1492, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__button {
    padding: 5px;
  }
  /* line 1495, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .tour__button i {
    margin-right: 0px;
  }
  /* line 1498, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .house__contacts .slide__info_people {
    margin-right: 0;
  }
  /* line 1503, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__left {
    width: 90%;
    margin-right: 0px;
  }
  /* line 1507, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__img {
    width: 180px;
  }
  /* line 1510, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__subcontainer {
    flex-direction: column;
  }
  /* line 1513, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .find__right .find__subcontainer_info {
    width: 90%;
  }
  /* line 1516, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe {
    height: 20.2rem;
  }
  /* line 1519, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__title {
    display: none;
  }
  /* line 1522, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__button {
    left: 0px;
    top: 100px;
  }
  /* line 1526, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe__center {
    position: relative;
  }
  /* line 1529, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .subscribe form {
    position: absolute;
    top: -104px;
    width: 200px;
    left: -20px;
  }
  /* line 1535, ../ВЁРСТКА/HOUNTER элитные дома/sass/style.sass */
  .property__link,
  .article__link,
  .contact__link,
  .property__title,
  .article__title,
  .contact__title {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */